<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hp.integral.mapper.RechargeCustMapper">

    <!-- 开启二级缓存 -->
   <!--  <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hp.integral.beans.RechargeCust">
        <id column="recharge_id" property="rechargeId" />
        <result column="recharge_cust_id" property="rechargeCustId" />
        <result column="recharge_money" property="rechargeMoney" />
        <result column="old_integral" property="oldIntegral" />
        <result column="recharge_integral" property="rechargeIntegral" />
        <result column="new_integral" property="newIntegral" />
        <result column="create_time" property="createTime" />
        <result column="recharge_state" property="rechargeState" />
        <result column="is_del" property="isDel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        recharge_id, recharge_cust_id, recharge_money, old_integral, recharge_integral, new_integral, create_time, recharge_state, is_del
    </sql>

</mapper>
